*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ? UTILITY */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 2rem 0;
  padding: 1rem;
}

.card {
  width: 100%;
  height: 250px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* ! Header */
.main-header {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 50px;
  background-color: #0284fd;
}

/* ! Cards */
.cards .card {
  background-color: #b5ddff;
}

.card:first-child {
  width: 100%;
  height: 500px;
}

/* ! Planning */
.purple {
  background-color: #9792e4;
}

.planning .card {
  background-color: white;
}

/* ! Testimonials */
.testimonials {
  text-align: center;
}

.testimonials .card {
  background-color: #9792e4;
  color: white;
}

/* ! Benefits */
.benefits .card {
  background-color: white;
  text-align: left;
}

.benefits .card > h1,
h2 {
  color: #9792e4;
}
